.auth-container {
  max-width: 500px;
  margin-top: 2rem;
}

.auth-card {
  background-color: cornsilk;
  padding: 1.4rem;
}

.auth-card-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.auth-card-title {
  color: brown;
  font-weight: 700;
  font-size: 24px;
}
