<div class="auth-container mx-auto">
  <mat-card class="auth-card">
    <mat-card-header class="auth-card-header">
      <mat-card-title class="auth-card-title">Authorization</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-auth-form></app-auth-form>
    </mat-card-content>
  </mat-card>
</div>
