mat-form-field {
  font-size: 1.3rem;
}

.auth-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 22px;
}

.auth-actions button {
  font-size: 1.3rem;
  min-height: 45px;
  min-width: 120px;
}
