<form
  [formGroup]="authForm"
  (ngSubmit)="onSubmit($event)"
>
  <mat-form-field class="w-100">
    <input
      type="text"
      matInput
      placeholder="Username"
      formControlName="username"
    >
    <mat-error *ngIf="authForm.get('username').hasError('required')">
      Username is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-100">
    <input
      type="password"
      matInput
      placeholder="Password"
      formControlName="password"
    >
    <mat-error
      *ngIf="authForm.get('password').hasError('minlength')
      && !authForm.get('password').hasError('required')">
      Password is <strong>too short</strong>
    </mat-error>
    <mat-error *ngIf="authForm.get('password').hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <div class="auth-actions">
    <button
      name="login-btn"
      class="login-btn"
      color="primary"
      mat-raised-button
      [disabled]="authForm.invalid"
    >
      Login
    </button>
    <button
      name="register-btn"
      class="register-btn"
      color="accent"
      mat-raised-button
      [disabled]="authForm.invalid"
    >
      Register
    </button>
  </div>
</form>
