<div class="profile-container mx-auto">
  <mat-card class="user-info-card">
    <mat-card-header class="user-info-card-header">
      <mat-card-title class="user-info-card-title">
        User profile data
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-user-info [user]="user"></app-user-info>
    </mat-card-content>
  </mat-card>

  <app-profile-controls [user]="user"></app-profile-controls>
</div>
