.profile-container {
  max-width: 500px;
  padding: 2px;
}

.user-info-card {
  background-color: cornsilk;
  margin: 20px 0 25px;
  padding: 1rem 1.4rem;
}

.user-info-card-header {
  display: flex;
  justify-content: center;
}

.user-info-card-title {
  color: brown;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 12px;
}
