form {
  display: flex;
  justify-content: center;
  min-width: 500px;
}

mat-form-field {
  font-size: 1.3rem;
}

.add-note-btn {
  align-self: center;
  font-size: 1.2rem;
  margin: 0 0 17px 20px;
  min-height: 45px;
  min-width: 120px;
}
