<form
  [formGroup]="addNoteForm"
  (ngSubmit)="onSubmit()"
>
  <mat-form-field class="w-100">
    <input
      type="text"
      matInput
      placeholder="Note text"
      formControlName="text"
    >
    <mat-error *ngIf="addNoteForm.get('text').hasError('required')">
      Note text is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <button
    class="add-note-btn"
    color="primary"
    mat-raised-button
    [disabled]="addNoteForm.invalid"
  >
    Add
  </button>
</form>
