table {
  border-collapse: collapse;
  margin-bottom: 20px;
}

th {
  color: brown;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 0 7px;
}

tbody {
  background-color: aliceblue;
}

tr td:first-child {
  width: 40%;
}

tr td:nth-child(2) {
  text-align: center;
}

td {
  border: 1px solid black;
  font-size: 1.15rem;
  font-weight: bold;
  padding: 5px;
}
