<table class="w-100">
  <tbody>
    <tr>
      <td>ID</td>
      <td>{{ user?._id }}</td>
    </tr>
    <tr>
      <td>Username</td>
      <td>{{ user?.username }}</td>
    </tr>
    <tr>
      <td>Creation date</td>
      <td>{{ user?.createdDate | date: 'medium' }}</td>
    </tr>
  </tbody>
</table>
