<mat-toolbar class="toolbar">
  <div class="toolbar-inner">
    <a href="" [routerLink]="['/users/me/notes']">
      <img class="logo" src="../../../../../assets/logo.jpg" alt="logo">
    </a>
    <ul class="toolbar-nav">
      <li *ngIf="isLogin">
        <a
          href=""
          [routerLink]="['/users/me/profile']"
          routerLinkActive="nav-active-link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Profile
        </a>
      </li>
      <li *ngIf="isLogin">
        <a
          href=""
          [routerLink]="['users/me/notes']"
          routerLinkActive="nav-active-link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Notes
        </a>
      </li>
    </ul>
    <ul class="profile-controls">
      <li *ngIf="!isLogin">
        <a
          href=""
          [routerLink]="['/auth']"
        >
          Login
        </a>
      </li>
      <li *ngIf="isLogin">
        <a
          class="user-avatar"
          href=""
          [routerLink]="['/users/me/']"
        >
          <img class="user-avatar-img"
               src="../../../../../assets/user-avatar.png"
               alt="user-avatar">
          <span>{{ user?.username }}</span>
        </a>
      </li>
      <li *ngIf="isLogin">
        <a
          href=""
          (click)="userLogout()"
        >
          Logout
        </a>
      </li>
    </ul>
  </div>
</mat-toolbar>
