a {
  color: inherit;
  font-size: 1.3rem;
  font-weight: bold;
  transition: 0.2s ease-out;
  text-decoration: none;
}

.mat-toolbar-single-row {
  height: unset;
}

.toolbar {
  background-color: #212121;
  color: #fff;
  font-family: Robotoregular, sans-serif;
  font-size: 16px;
  height: 120px;
  text-transform: uppercase;
}

.toolbar-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1130px;
  width: 100%;
}

.logo {
  max-width: 100%;
}

.toolbar-nav {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

.toolbar-nav li {
  margin-left: 80px;
}

.nav-active-link {
  color: #e12ebc!important;
}

.toolbar-nav li:hover{
  color: #6bbcf1;
}

.profile-controls {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

.profile-controls li {
  margin-left: 40px;
}

.profile-controls li:hover{
  color: #6bbcf1;
}

.user-avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-avatar:hover {
  color: #dee5a8;
}

.user-avatar-img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.user-avatar span {
  font-size: 1rem;
  text-transform: capitalize;
}
