<form
  [formGroup]="changePasswordForm"
  (ngSubmit)="onSubmit()"
>
  <mat-form-field class="w-100">
    <input
      type="password"
      matInput
      placeholder="Old password"
      formControlName="oldPassword"
    >
    <mat-error
      *ngIf="changePasswordForm.get('oldPassword').hasError('minlength')
      && !changePasswordForm.get('oldPassword').hasError('required')">
      Password is <strong>too short</strong>
    </mat-error>
    <mat-error *ngIf="changePasswordForm.get('oldPassword').hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-100">
    <input
      type="password"
      matInput
      placeholder="New password"
      formControlName="newPassword"
    >
    <mat-error
      *ngIf="changePasswordForm.get('newPassword').hasError('minlength')
      && !changePasswordForm.get('newPassword').hasError('required')">
      Password is <strong>too short</strong>
    </mat-error>
    <mat-error *ngIf="changePasswordForm.get('newPassword').hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <button
    class="change-password-btn mx-auto"
    color="warn"
    mat-raised-button
    [disabled]="changePasswordForm.invalid"
  >
    Change password
  </button>
</form>
