form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 450px;
}

mat-form-field {
  font-size: 1.3rem;
}

.change-password-btn {
  align-self: center;
  font-size: 1.2rem;
  min-height: 45px;
  min-width: 120px;
  max-width: 200px;
}
