<mat-card class="note-item-card">
  <mat-card-content class="note-item-content">
    <div class="note-item-date">
      <span>{{ note?.createdDate | date: 'short' }}</span>
    </div>
    <div class="note-item-text">
      <input
        type="text"
        matInput
        [ngClass]="{
          'edited-text': isNoteBeingEdited,
          'completed-item': isNoteCompleted
        }"
        [disabled]="!isNoteBeingEdited"
        [(ngModel)]="noteText"
      >
    </div>
    <div class="note-item-actions">
      <mat-checkbox
        class="note-item-checkbox"
        color="primary"
        [ngClass]="{'d-none': isNoteBeingEdited}"
        [checked]="isNoteCompleted"
        (change)="toggleNoteComplete()"
      ></mat-checkbox>
      <button
        class="edit-btn"
        color="warn"
        mat-raised-button
        [ngClass]="{'d-none': isNoteBeingEdited}"
        (click)="triggerNoteEditing()"
      >
        Edit
      </button>
      <button
        class="save-btn"
        mat-raised-button
        [ngClass]="{'d-none': !isNoteBeingEdited}"
        (click)="updateNoteText()"
      >
        Save
      </button>
      <button
        class="cancel-btn"
        mat-raised-button
        [ngClass]="{'d-none': !isNoteBeingEdited}"
        (click)="cancelNoteEditing()"
      >
        Cancel
      </button>
      <button
        class="delete-btn"
        color="accent"
        mat-raised-button
        (click)="deleteNote()"
      >
        Delete
      </button>
    </div>
  </mat-card-content>
</mat-card>
