.d-none {
  display: none;
}

.note-item-card {
  margin-bottom: 10px;
  min-height: 60px;
  padding: 12px;
}

.note-item-content {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

.note-item-date {
  flex: 0 1 17%;
  color: darkblue;
  font-size: 1rem;
}

.note-item-text {
  flex: 0 1 55%;
}

.note-item-text input {
  color: brown;
  min-height: 33px;
  padding: 0 5px;
}

.edited-text {
  background-color: lightgoldenrodyellow;
  border: 1px solid lightcyan;
  box-shadow: 1px 1px 5px 1px darkgrey;
  color: darkblue;
}

.note-item-text .completed-item {
  color: dimgrey;
  text-decoration: line-through;
}

.note-item-actions {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: flex-end;
}

.note-item-checkbox {
  margin-right: 25px;
}

button {
  color: white;
  font-size: 1rem;
  min-height: 40px;
  min-width: 90px;
  margin-left: 15px;
}

.save-btn {
  background-color: forestgreen;
  min-width: 70px;
}

.cancel-btn {
  background-color: darkred;
}
