@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~primeng/resources/themes/nova/theme.css";
@import "~primeng/resources/primeng.min.css";

body {
  background-color: lightcyan;
  margin: 0;
}

/* Default styles */
.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-35 {
  width: 35%;
}

.mx-auto {
  margin: 0 auto;
}

.ui-toast {
  margin: 1rem;
  min-width: 200px;
  max-width: 450px
}

.text-center {
  text-align: center;
}

.flex-column {
  flex-direction: column;
}

/* Custom styles */
