.profile-actions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.change-pass-card {
  background-color: cornsilk;
  padding: 1.4rem;
  margin-bottom: 2rem;
}

.change-pass-card-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.change-pass-card-title {
  color: brown;
  font-weight: 700;
  font-size: 24px;
}

.delete-profile-btn {
  font-size: 1.2rem;
  max-width: 350px;
  min-height: 45px;
  min-width: 200px;
}
