<div class="profile-actions-container mx-auto">
  <mat-card class="change-pass-card">
    <mat-card-header class="change-pass-card-header">
      <mat-card-title class="change-pass-card-title">
        Change password
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-change-password-form></app-change-password-form>
    </mat-card-content>
  </mat-card>

  <button
    class="delete-profile-btn mx-auto"
    color="accent"
    mat-raised-button
    (click)="deleteProfile()"
  >
    Delete Profile
  </button>
</div>


