<div class="note-container mx-auto">
  <mat-card class="add-note-card">
    <mat-card-header class="add-note-card-header">
      <mat-card-title class="add-note-card-title">Add new note</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-add-note-form></app-add-note-form>
    </mat-card-content>
  </mat-card>

  <app-notes-list [notes]="userNotes"></app-notes-list>
</div>

