.note-container {
  max-width: 1050px;
  margin-top: 1.1rem;
}

.add-note-card {
  background-color: cornsilk;
  margin-bottom: 20px;
  padding: 1rem 1.4rem;
}

.add-note-card-header {
  display: flex;
  justify-content: center;
}

.add-note-card-title {
  color: brown;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 6px;
}
